<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>账号初始化</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="${@mvcResourceUrlProvider.getForLookupPath('/css/admin-user/init.css')}" />
</head>
<body>
<div id="mainVue">
    <div class="container srv-init-container">
        <div class="alert alert-info srv-init-title" role="alert">初始化系统管理员</div>
        <div class="srv-init-panel">
            <label><input id="username" type="text" class="form-control srv-init-panel-item" placeholder="系统管理员 登陆账号"></label>
            <label><input id="password" type="text" class="form-control srv-init-panel-item" placeholder="密码"></label>
            <label><input id="ensurePassword" type="text" class="form-control srv-init-panel-item" placeholder="再次确认"></label>
            <button type="button" class="btn btn-primary srv-init-panel-item" v-on:click="Ensure">确认</button>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/encryption.js')}"></script>


<script type="text/javascript">
    var initVue = new Vue({
        el: "#mainVue",
        /**
         * 对象创建后执行的方法
         */
        created: function() {

        },
        methods: {
            /**
             * 确认按钮事件
             */
            Ensure: function() {
                let username = $("#username").val();
                let password = $("#password").val();
                let ensurePassword = $("#ensurePassword").val();

                if (username === "" || password == "") {
                    alert("请输入账号和密码");
                    return;
                }

                if (password !== ensurePassword) {
                    alert("两次输入的密码不同");
                    return;
                }

                password = MD5(password);

                $.ajax({
                    url: "/admin-user/init-admin-user",
                    data: {"username": username, "password":password},
                    method: "post",
                    dataType: "json",
                    success: function(json) {
                        if (json.code > 0) {
                            alert("初始化成功");
                        } else {
                            console.error(json);
                            alert("初始化失败");
                        }
                    },
                    error: function(err) {
                        console.error(err);
                        alert("服务器出错");
                    }
                });
            }
        }
    });
</script>

</body>
</html>