<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>账号初始化</title>
    <link rel="stylesheet" th:href="${@urlUtil.BootstrapCssLink()}">
    <link rel="stylesheet" th:href="${@urlUtil.To('/css/admin-user/login.css')}" />
    <link rel="stylesheet" th:href="${@urlUtil.To('/css/admin-user/init.css')}" />
</head>
<body>
<div id="mainVue">
    <div class="container srv-init-container">
        <div class="alert alert-info srv-init-title" role="alert">初始化系统管理员</div>
        <div class="srv-init-panel">
            <label><input id="username" type="text" class="form-control srv-init-panel-item" placeholder="系统管理员 登陆账号"></label>
            <label><input id="password" type="text" class="form-control srv-init-panel-item" placeholder="密码"></label>
            <label><input id="ensurePassword" type="text" class="form-control srv-init-panel-item" placeholder="再次确认"></label>
            <button type="button" class="btn btn-primary srv-init-panel-item" v-on:click="Ensure">确认</button>
        </div>
    </div>
</div>

<script th:src="${@urlUtil.JqueryJsLink()}"></script>
<script th:src="${@urlUtil.PopperJsLink()}"></script>
<script th:src="${@urlUtil.BootstrapJsLink()}"></script>
<script th:src="${@urlUtil.VueJsLink()}"></script>
<script th:src="${@urlUtil.To('/js/encryption.js')}"></script>


<script type="text/javascript">
    var initVue = new Vue({
        el: "#mainVue",
        /**
         * 对象创建后执行的方法
         */
        created: function() {

        },
        methods: {
            /**
             * 确认按钮事件
             */
            Ensure: function() {
                let username = $("#username").val();
                let password = $("#password").val();
                let ensurePassword = $("#ensurePassword").val();

                if (username === "" || password === "") {
                    alert("请输入账号和密码");
                    return;
                }

                if (password !== ensurePassword) {
                    alert("两次输入的密码不同");
                    return;
                }

                password = MD5(password);

                $.ajax({
                    url: "[[${@urlUtil.To('admin-user/init-admin-user')}]]",
                    data: {"username": username, "password":password},
                    method: "post",
                    dataType: "json",
                    success: function(json) {
                        if (json.code > 0) {
                            alert("初始化成功");
                        } else {
                            console.error(json);
                            alert("初始化失败");
                        }
                    },
                    error: function(err) {
                        console.error(err);
                        alert("服务器出错");
                    }
                });
            }
        }
    });
</script>

</body>
</html>