<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Title</title>

    <link rel="stylesheet" th:href="${@urlUtil.BootstrapCssLink()}">
    <link rel="stylesheet" th:href="${@urlUtil.AwesomeCssLink()}">
    <link rel="stylesheet" th:href="${@urlUtil.To('3rd/pro-sidebar-template/assets/css/custom.css')}">
    <link rel="stylesheet" th:href="${@urlUtil.To('3rd/pro-sidebar-template/assets/css/custom-themes.css')}">
    <link rel="stylesheet" th:href="${@urlUtil.To('css/index.css')}">

</head>
<body>
<header>
    <script th:src="${@urlUtil.JqueryJsLink()}"></script>
    <script th:src="${@urlUtil.PopperJsLink()}"></script>
    <script th:src="${@urlUtil.BootstrapJsLink()}"></script>
    <script th:src="${@urlUtil.VueJsLink()}"></script>
    <!--<script th:src="${@urlUtil.To('3rd/pro-sidebar-template/assets/js/custom.js')}"></script>-->
</header>

<article class="page-wrapper chiller-theme sidebar-bg bg1">
    <div class="i-nav" onmouseover="HideMenu()">
        <section onclick="ShowMenu()">
            <i class="fas fa-bars" ></i>
        </section>
    </div>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="javascript:void(0)">主页</a>
                <div id="close-sidebar" v-on:click="HideMenu">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <!--<div class="sidebar-header">-->
                <!--<div class="user-pic">-->
                    <!--<img class="img-responsive img-rounded" src="/java-admin/3rd/pro-sidebar-template/assets/img/user.jpg" alt="User picture">-->
                <!--</div>-->
                <!--<div class="user-info">-->
                    <!--<span class="user-name">Jhon-->
                        <!--<strong>Smith</strong>-->
                    <!--</span>-->
                    <!--<span class="user-role">Administrator</span>-->
                    <!--<span class="user-status">-->
                        <!--<i class="fa fa-circle"></i>-->
                        <!--<span>Online</span>-->
                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->
            <!-- sidebar-header  -->
            <!--<div class="sidebar-search">-->
                <!--<div>-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control search-menu" placeholder="Search...">-->
                        <!--<div class="input-group-append">-->
                            <!--<span class="input-group-text">-->
                                <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <!--二级类型的菜单-->
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <template v-for="menu in menuData.child">
                    <li class="sidebar-dropdown">
                        <a href="javascript:void(0)" v-on:click="ToggleSubMenu">
                            <i v-bind:class="(menu.icon === '') ? 'fas fa-server' : menu.icon"></i>
                            <span>{{menu.name}}</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <template v-for="menuItem in menu.child">
                                <li>
                                    <a href="javascript:void(0)" v-on:click="OpenUrl" v-bind:data-url="menuItem.url">{{menuItem.name}}</a>
                                </li>
                                </template>
                            </ul>
                        </div>
                    </li>
                    </template>

                    <!--单列菜单-->
                    <!--<li class="header-menu">-->
                        <!--<span>Extra</span>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<i class="fa fa-calendar"></i>-->
                            <!--<span>Calendar</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<i class="fa fa-folder"></i>-->
                            <!--<span>Examples</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<i class="fa fa-book"></i>-->
                            <!--<span>Documentation</span>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <div class="dropdown">

                <a href="#" class="" id="dropdownMenuNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell"></i>
                    <!--<span class="badge badge-pill badge-warning notification">3</span>-->
                </a>
                <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
                    <div class="notifications-header">
                        <i class="fa fa-bell"></i>
                        Notifications
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <div class="notification-content">
                            <div class="icon">
                                <i class="fas fa-check text-success border border-success"></i>
                            </div>
                            <div class="content">
                                <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                                <div class="notification-time">
                                    6 minutes ago
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <div class="notification-content">
                            <div class="icon">
                                <i class="fas fa-exclamation text-info border border-info"></i>
                            </div>
                            <div class="content">
                                <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                                <div class="notification-time">
                                    Today
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">
                        <div class="notification-content">
                            <div class="icon">
                                <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
                            </div>
                            <div class="content">
                                <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                                <div class="notification-time">
                                    Yesterday
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="#">View all notifications</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-envelope"></i>
                    <!--<span class="badge badge-pill badge-success notification">7</span>-->
                </a>
                <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">
                    <div class="messages-header">
                        <i class="fa fa-envelope"></i>
                        Messages
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <div class="message-content">
                            <div class="pic">
                                <img src="/java-admin/3rd/pro-sidebar-template/assets/img/user.jpg" alt="">
                            </div>
                            <div class="content">
                                <div class="message-title">
                                    <strong> Jhon doe</strong>
                                </div>
                                <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                            </div>
                        </div>

                    </a>
                    <a class="dropdown-item" href="#">
                        <div class="message-content">
                            <div class="pic">
                                <img src="/java-admin/3rd/pro-sidebar-template/assets/img/user.jpg" alt="">
                            </div>
                            <div class="content">
                                <div class="message-title">
                                    <strong> Jhon doe</strong>
                                </div>
                                <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                            </div>
                        </div>

                    </a>
                    <a class="dropdown-item" href="#">
                        <div class="message-content">
                            <div class="pic">
                                <img src="/java-admin/3rd/pro-sidebar-template/assets/img/user.jpg" alt="">
                            </div>
                            <div class="content">
                                <div class="message-title">
                                    <strong> Jhon doe</strong>
                                </div>
                                <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="#">View all messages</a>

                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="" id="dropdownMenuMessage2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
                    <a class="dropdown-item" href="#">My profile</a>
                    <a class="dropdown-item" href="#">Help</a>
                    <a class="dropdown-item" href="#">Setting</a>
                </div>
            </div>
            <div>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content" onmouseover="HideMenu()">
        <ul class="nav nav-tabs i-tabs-nav" id="iNavTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-tab-id="index">
                    <span class="nav-tab-title" onclick="OpenTab(this)">主页</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-tab-id="other|page">
                    <span class="nav-tab-title" onclick="OpenTab(this)">其他页面</span>
                    <span class="nav-close-btn" onclick="CloseTab(this)"><i class="fas fa-times"></i></span>
                </a>
            </li>
        </ul>
        <div class="i-tabs">
            <section data-tab-id="index">
                主页内容
            </section>
            <section data-tab-id="other|page" style="display: none">
                其他页面
            </section>
        </div>
    </main>
    <!-- page-content" -->
</article>

<footer>

</footer>

<script type="text/javascript">
    sidebarVue = new Vue({
        el: "#sidebar",
        data: {
            /**
             * @var {Object} 菜单对象，用于构建菜单
             */
            menuData: {}
        },

        created: function() {
            this.RequestMenuData();
        },

        methods: {
            /**
             * 请求菜单数据
             */
            RequestMenuData: function() {
                $.ajax({
                    url: "[[${@urlUtil.To('/home/get-menu')}]]",
                    method: "post",
                    dataType: "json",
                    success: function(json) {
                        sidebarVue.menuData = json;
                    },
                    error: function(err) {
                        console.error(err);
                    }
                });
            },

            /**
             * 打开链接
             */
            OpenUrl: function (event) {
                let url = $(event.target).data("url");
                let tabId = url;
                let tabName = $(event.target).html();

                $.ajax({
                    url: url,
                    method: "post",
                    dataType: "text",
                    success: function(html) {
                        let tabSectionSelector = $("a.nav-link[data-tab-id='" + tabId + "'] > span.nav-tab-title");

                        if (tabSectionSelector.length === 0) {
                            // 标签不存在，创建一个标签
                            sidebarVue.CreateTab(tabId, tabName, html);
                        } else {
                            // 标签已存在，直接跳转到该标签
                            sidebarVue.OpenTab(tabSectionSelector.get(0));
                        }
                    },
                    error: function(err) {
                        console.error(err);
                    }
                });
            },

            /**
             * 显示菜单
             */
            ShowMenu: function () {
                $(".page-wrapper").addClass("toggled");
            },

            /**
             * 隐藏菜单
             */
            HideMenu: function () {
                $(".page-wrapper").removeClass("toggled");
            },

            /**
             * 切换子菜单显示或隐藏
             * @param event
             */
            ToggleSubMenu: function(event) {
                let thisDom = event.target;

                $(".sidebar-submenu").slideUp(200);
                if ($(thisDom).parent().hasClass("active")) {
                    $(".sidebar-dropdown").removeClass("active");
                    $(thisDom).parent().removeClass("active");
                } else {
                    $(".sidebar-dropdown").removeClass("active");
                    $(thisDom).next(".sidebar-submenu").slideDown(200);
                    $(thisDom).parent().addClass("active");
                }
            },

            /**
             * 创建标签
             */
            CreateTab: function(tabId, tabName, html) {
                $("#iNavTab").append("" +
                    "           <li class=\"nav-item\">\n" +
                    "                <a class=\"nav-link\" data-tab-id=\"" + tabId + "\">\n" +
                    "                    <span class=\"nav-tab-title\" onclick=\"OpenTab(this)\">" + tabName + "</span>\n" +
                    "                    <span class=\"nav-close-btn\" onclick=\"CloseTab(this)\"><i class=\"fas fa-times\"></i></span>\n" +
                    "                </a>\n" +
                    "            </li>");

                $(".i-tabs").append("" +
                    "            <section data-tab-id=\"" + tabId + "\">\n" +
                    "                " + html + "\n" +
                    "            </section>");

                // 跳转到这一页
                this.OpenTab($("a.nav-link[data-tab-id='" + tabId + "'] > span.nav-tab-title").get(0));
            },

            /**
             * 打开标签
             * @param {document|event} node
             */
            OpenTab: function (node) {
                let itemSelector = undefined;

                if (node.hasOwnProperty("target")) {
                    itemSelector = $(node.target).parent("a.nav-link");
                } else {
                    itemSelector = $(node).parent("a.nav-link");
                }

                // 切换 active 的 tab 导航
                $(".i-tabs-nav>li>a").removeClass("active");
                itemSelector.addClass("active");

                // 显示被点击的 tab 内容
                this.HideAllTab();
                let tabId = itemSelector.data("tab-id");
                $("section[data-tab-id='" + tabId + "']").show();
            },

            /**
             * 关闭标签
             * @param {document|event} node
             */
            CloseTab: function (node) {
                let selector = undefined;

                if (node.hasOwnProperty("target")) {
                    selector = $(node.target);
                } else {
                    selector = $(node);
                }

                // 删除 tab 标签，以及标签对应的内容
                let tabId = selector.parent("a.nav-link").data("tab-id");
                $("a.nav-link[data-tab-id='" + tabId + "']").remove();
                $(".i-tabs > section[data-tab-id='" + tabId + "']").remove();

                // 跳转到首页
                this.OpenTab($("a.nav-link[data-tab-id='index'] > span.nav-tab-title").get(0));
            },

            /**
             * 隐藏所有 tab
             */
            HideAllTab: function() {
                $(".i-tabs>section").hide();
            }
        }
    });

    /**
     * 显示菜单。提供给 vue 容器外的标签使用
     */
    function ShowMenu() {
        setTimeout(function(){
            sidebarVue.ShowMenu();
        });
    }

    /**
     * 隐藏菜单
     */
    function HideMenu() {
        setTimeout(function(){
            sidebarVue.HideMenu();
        });
    }

    /**
     * 打开标签
     * @param {document} node
     */
    function OpenTab(node) {
        sidebarVue.OpenTab(node);
    }

    /**
     * 关闭标签
     * @param {document} node
     */
    function CloseTab(node) {
        sidebarVue.CloseTab(node);
    }
</script>

</body>
</html>