<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="assetManager" type="cn.cinling.admin.manager.AssetManager"*/-->
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" th:href="${assetManager.BootstrapCssLink()}">
    <link rel="stylesheet" th:href="${assetManager.AwesomeCssLink()}">
    <link rel="stylesheet" th:href="${assetManager.To('/css/index.css')}">
    <link rel="stylesheet" th:href="${assetManager.To('/css/component/menu.css')}" />

</head>
<body>
<header>
    <section>
        <script th:src="${assetManager.JqueryJsLink()}"></script>
        <script th:src="${assetManager.PopperJsLink()}"></script>
        <script th:src="${assetManager.BootstrapJsLink()}"></script>
        <script th:src="${assetManager.VueJsLink()}"></script>
        <script th:src="${assetManager.To('/js/component/menu.js')}"></script>
    </section>

    <section id="indexVue">
        <!--菜单、导航栏-->
        <section class="i-header-container">
            <nav class="i-nav">
                <section class="i-nav-left">
                    <div class="i-nav-menu" v-on:mouseover="ShowMenu">
                        <i class="fas fa-bars"></i>
                        <span class="i-nav-menu-text">菜单</span>
                    </div>
                </section>

                <section class="i-nav-right">

                </section>
            </nav>

            <div class="i-nav-menu-container">
                <mwa-menu th:url="${assetManager.To('home/get-menu')}"></mwa-menu>
            </div>
        </section>
    </section>
</header>

<article>


    <!--单个页面的内容-->
    <section class="i-content-container" onmouseover="HideMenu()">

    </section>
</article>

<footer>

</footer>

<script type="text/javascript">
    indexVue = new Vue({
        el: "#indexVue",
        data: {
            menuHtml: ""
        },
        /**
         * 对象创建后执行的方法
         */
        created: function() {
            this.HideMenu();
        },

        methods: {
            HideMenu: function() {
                $(".i-nav-menu-container").hide();
            },

            ShowMenu: function() {
                $(".i-nav-menu-container").show();
            }
        }
    });

    function HideMenu() {
        indexVue.HideMenu();
    }
</script>

</body>
</html>