.srv-init-container {
    margin-top: 200px;
}

.srv-init-title {
    margin:0 auto;
    width:420px;
    text-align: center;
}

.srv-init-panel {
    margin:0 auto;
    padding: 40px;
    width: 420px;
    border:1px solid #666666;
}

.srv-init-panel-item {
    width: 340px;
}