
html, body, article {
    width: 100%;
    height: 100%;
}

.admin-login-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: url("../../img/admin-user/bg.jpg") no-repeat;
    background-size: cover;
}

.admin-login-panel {
    position: fixed;
    top: 200px;
    padding: 30px 20px;
    right: 100px;
    width: 320px;
    background-color: rgba(100, 100, 100, 0.5);
}

.admin-login-panel-item {
    margin: 20px 0;
    width: 100%;
}
